---
import articles from '../../data/articles.js';
import categories from '../../data/categories.js';
import CategoryArticles from '../../components/CategoryArticles.jsx';
import Layout from '../../layouts/Layout.astro';

// Déterminer la liste des chemins
export async function getStaticPaths() {
  return categories.map((category) => ({
    params: { category: category.id },
  }));
}

// Paramètres et données pour la page
const { category } = Astro.params;
const currentCategory = categories.find((cat) => cat.id === category);
const initialArticles = articles
  .filter((article) => article.category === category)
  .sort((a, b) => a.id - b.id); // Trier par ID par défaut
---

<Layout>
  {currentCategory ? (
    <>
      <CategoryArticles initialArticles={initialArticles} currentCategory={currentCategory} client:load />
    </>
  ) : (
    <p>Catégorie introuvable.</p>
  )}
</Layout>
